
:root {
    --font-light-color: #6C6C6C;
    --font-dark-color: #414141;
    
    /*---------card---------*/
    --card-color: #F8F8F8;
    --line-color: #E2E2E2;
    
    --principal-color: #0179FE;
    --blue-hover: #0449df;
  }
  
  * {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    color: var(--font-light-color);
  }
  
 body {
     margin: 0px;
  } 
  
  /* -------------- MENU ------------------- */
  header {
    padding-bottom: 32px;
    padding-top: 32px;
  }

  .menu-container {
    display: flex;
    background-color: white;
    border: 1px solid #E9E9E9;
    padding: 4px;
    border-radius: 100px;
    height: 45px;
    box-shadow: -1px 3px 15px 0px rgba(0,0,0,0.11);
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    width: 260px;
  }
  
  .menu-container .button {
    height: 108px;
    width: 108px;
    cursor: pointer;
    background-color: #F8F8F8;
    height: 45px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  
  .menu-container .button p {
    color: #0179FE;
    font-weight: 500;
    text-align: center;
  }
  
  /* -------------- ICONS ------------------- */
  header {
    margin-left: 100px;
    margin-right: 100px;
  }
  
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav .icons {
    display: flex;
    gap: 20px;
  }
  
  header nav .icons .linkedin,
  header nav .icons .resume,
  header nav .icons .email {
    height: 28px;
    width: 28px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  
  header nav .icons .linkedin {
      background-image: url("../assets/linkedin-logo.svg");
  }
  
  header nav .icons .resume {
      background-image: url("../assets/resume-icon.svg");
  }
  
  header nav .icons .email {
      background-image: url("../assets/email-icon.svg");
  }

  header nav .icons .linkedin:hover {
    color: blue
  }



/*-------------- MENU BOTTOM --------------------*/
  .menu-bottom-section {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    position: fixed;
    bottom: 0%;
    z-index: 1;
    left: 50%;
    right: 50%;
}

/*--------------GRID--------------------*/


  section {
    display: grid;
    gap: 16px;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
    grid-template-columns: 450px 1fr; /*------PRUEBA;-----*/
    margin-bottom: 25px;
  }

  hr {
    border: 1px solid var(--line-color);
  }
   
  
  section .container {
    background-color: var(--card-color);
    padding: 24px;
    border-radius: 32px;
  }

  section .container .content,
  section .container .content-dribbble,
  section .container .content-codepen {
    line-height: 26px;
  }
  
  .section .container .header {
    display: grid;
    grid-template-columns: 1fr 50px;
    align-items: center;
  }
  
 .section .container .content-dribbble .description,
 .section .container .content-codepen .description  {
  margin-top: 0px;
 }
  
  .container .header h1 { 
    font-size: 24px;
    margin: 0px;
    font-weight: 500;
  }
  
  .container:nth-child(1) {
    grid-row: 1/3;
  }

  .projects-button {
    text-decoration: none;
  }
  
  .container .content-dribbble .projects-button,
  .container .content-codepen .projects-button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid var(--line-color);
    background-color: transparent;
    border-radius: 100px;
    width: 100%;
    cursor: pointer;
  }
  
  .container .content-dribbble .projects-button p,
  .container .content-dribbble .projects-button i,
  .container .content-codepen .projects-button p,
  .container .content-codepen .projects-button i {
      color: var(--font-dark-color);
  }

  .container .content-dribbble .projects-button .icon,
  .container .content-codepen .projects-button .icon {
    width: 16px;
    height: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../assets/arrow.png");
  }
  
  
 

  /*--------- logod ---------*/
  .section .container .header .img-icon {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
  }


  /*------------------ dribbble -------------------*/
  .section:nth-child(2) {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 16px;
  }
  
   /*------------------ REVISAR -------------------*/
   /*  */
  .section:nth-child(2) .container {
    grid-row: 1 / 3;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .section:nth-child(2) .container .header .img-icon {
    background-image: url("../assets/dribble.webp");
  }
  
  .section:nth-child(1) .container:nth-child(2) {
    height: 230px;
  }

  #dribble-section .container:nth-child(2) {
    height: 230px;
  }


  /*------------------ codepen -------------------*/
  .section:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 16px;
  }
  
  .section:nth-child(3) .container {
    grid-row: 1 / 3;
    position: relative;
    overflow-y: hidden;
    overflow-x: auto;
  }
  
  
  .section .container:nth-child(3) .header,
  .section .container:nth-child(4) .header{
    display: flex;
    justify-content: space-between;
  }
  
  .section:nth-child(3) .container .header .img-icon {
    background-image: url("../assets/codepen-logo.webp");
  }
  
 #codepen-section .container:nth-child(1) {
    height: 230px;
  }


/*---------------  scroll cards ---------------------- */


.content-cards-dribbble,
.content-cards-codepen {
  display: flex;
  gap: 12px;
  position: absolute;
  top: 5px;
  padding-right: 24px;
  top: 80px;
}

.card-container {
  width: 180px;
  height: 180px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
}



/*---------------  dribble image ----------------- */


/*---------------  dribble 01 ----------------- */
.content-cards-dribbble .card-container:nth-child(1) .image {
  height: 100%;
  border-radius: 16px;
  background-color: lightgray;
  background-size: 302%;
  background-repeat: no-repeat;
  background-position-x: 26%;
  background-image: url(../assets/dailyUI01.webp);
  background-position-y: 7%;
}
/*---------------  dribble 02 ----------------- */
.content-cards-dribbble .card-container:nth-child(2) .image {
  height: 100%;
  border-radius: 16px;
  background-color: lightgray;
  background-size: 149%;
  background-repeat: no-repeat;
  background-position-x: 92%;
  background-image: url(../assets/dailyUI02.webp);
  background-position-y: 71%;
}
/*---------------  dribble 03 ----------------- */
.content-cards-dribbble .card-container:nth-child(3) .image {
  height: 100%;
  border-radius: 16px;
  background-color: lightgray;
  background-size: 218%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-image: url(../assets/dailyUI03.webp);
  background-position-y: 0%;
}

/*---------------  Codepen image ----------------- */


/*---------------  Codepen 01 ----------------- */
.content-cards-codepen .card-container:nth-child(1) .image {
  height: 100%;
  border-radius: 16px;
  background-color: lightgray;
  background-size: 302%;
  background-repeat: no-repeat;
  background-position-x: 51%;
  background-image: url(../assets/codepen01.webp);
  background-position-y: 7%;
  
}

/*---------------  Codepen 02 ----------------- */
.content-cards-codepen .card-container:nth-child(2) .image {
  height: 100%;
  border-radius: 16px;
  background-color: lightgray;
  background-size: 302%;
  background-repeat: no-repeat;
  
  background-position-x: 34%;
  background-image: url(../assets/codepen02.webp);
  background-position-y: 1%;
}

/*---------------  Codepen 03 ----------------- */
.content-cards-codepen .card-container:nth-child(3) .image {
  height: 100%;
  border-radius: 16px;
  background-color: lightgray;
  background-size: 355%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-image: url(../assets/codepen03.webp);
  background-position-y: 1%;
}

.content-cards-dribbble .card-container:hover,
.content-cards-codepen .card-container:hover  {
  border: 3px solid var(--principal-color);
  border-radius: 18px;
}
/* .content-cards-dribbble .card-container .image:hover {
  background-size: 370%;
  background-position-x: 51%;
} */

.content-cards-dribbble a, 
.content-cards-codepen a {
  text-decoration: none;
}

.card-container .info-container {
  background-color: var(--principal-color);
  position: absolute;
  top: 8px;
  /* left: 0px; */
  right: 8px;
  text-align: center;
  border-radius: 50px;
  padding: 8px;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.card-container .info-container:hover {
  background-color: var(--blue-hover);
}

.card-container .info-container p {
  color: white;
  font-size: 14px;
  margin: 0px;
}


.card-button {
  background-color: #0179FE;
  width: 180px;
  height: 180px;
  border-radius: 16px;
  cursor: pointer;
}

.card-button:hover {
  box-shadow: 1px -1px 14px 1px rgba(1,121,254,0.75);
}

.card-button .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 16px;
  height: -webkit-fill-available;
}

.card-button .info-container .button {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.card-button .info-container p {
  text-align: center;
  color: white;
  font-size: 15px;
  margin: 0px;
}

.card-button .info-container .button .icon {
  width: 40px;
  height: 40px;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/arrow-tr-circle.png);
}


.section .container .header {
  /* position: fixed; */
  border-bottom: 2px solid var(--line-color);
  padding-bottom: 7px;
  margin-bottom: 7px;
  position: sticky;
  left: 0px;
}




/*------------------ scroll bar ----------------*/
.section ::-webkit-scrollbar {
  /* width: 10px; */
  height: 4px;
  position: absolute;
}

/* Track */
.section:nth-child(2) ::-webkit-scrollbar-track,
.section:nth-child(3) ::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.section:nth-child(2) ::-webkit-scrollbar-thumb,
.section:nth-child(3) ::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
/* .section ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
    /*------------------ responsive cards ----------------*/
  
  
  @media (max-width: 1250px) {
    
    section {
      display: flex;
      flex-direction: column;
      width: 90%;
    }
    
    .section:nth-child(2),
    .section:nth-child(3){
    row-gap: 0px;
    }
    
  }
  
  @media (max-width: 850px) {
    
    .section:nth-child(2){
      grid-row: none;
      display: flex;
      flex-direction: column;
      row-gap: 16px; /*-----revisar----------*/
    }
    
    .section:nth-child(3){
      grid-row: none;
      display: flex;
      flex-direction: column-reverse;
      row-gap: 16px; /*-----revisar----------*/
    }
    
    .section .container h1{
      font-size: 18px;
    }
  }

 /*------------------ margin menu ----------------*/  


@media (max-width: 740px) {
  header {
    margin-left: 16px;
    margin-right: 16px;
  }
}
